* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 719;
  font-style: italic;
  font-variation-settings: "wdth" 100;
}

header {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.img-contenedor {
  margin-left: 3px;
}
.Logo {
  height: 100px;
  width: 100px;
}
.container-first {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.buscador {
  border: 9px;
  height: 40px;
  width: 350px;
  padding: 0 15px;
  margin-top: 3%;
  border-radius: 20px;
  background-color: rgb(228, 240, 240);
}
.title {
  color: red;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: uppercase;
  margin: 2% 22% 0 22%;
}
.btn {
  width: 37px;
  height: 37px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("./img/Buscador.png");
  margin-top: 3%;
}
.btn-header-container {
  display: flex;
  margin: 30px 70px 30px 70px;
}
.ListOption {
  margin: 20px;
  display: flex;
  gap: 45px;
  justify-content: space-between;
}

.list {
  text-decoration: none;
  color: #3e445a !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: uppercase;
  position: relative;
  margin-right: 90px;
}

.list:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #3e445a;
  transition: 0.3s ease;
}
.list:hover:after {
  width: 100%;
}
.btn-contenedor {
  text-decoration: none;
  display: flex;
  width: 130px;
  margin-left: 110px;
}
.btn-contenedor:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #3e445a;
  transition: 0.3s ease;
}
.btn-contenedor:hover:after {
  width: 100%;
}
.btn-text {
  font-family: "Montserrat", sans-serif;
  color: #3e445a;
  text-decoration: none;
  margin: 5px;
}
.Cart-counter {
  width: 20px;
  background-color: #c6ceec;
  border: solid 0.5px black;
  border-radius: 20px;
  text-decoration: none !important;
}
hr {
  width: 100% !important;
}
/* First Zone */

.first-zone {
  width: 80%;
  display: grid;
  max-width: 1165px;
  margin: 0 auto;
  overflow: hidden;
  grid-template-columns: auto auto auto auto;
}
.caja {
  text-align: center;
}
.boton {
  width: 20px;
  margin: 20px;
}
.bo-load {
  text-decoration: none;
  color: black;
  padding: 2px;
  width: 40px;
  background-color: rgb(182, 177, 177);
  border: 1px solid black;
}
.selectZone {
  width: 250px !important;
}
/* Carrusel */
.altura {
  height: 600px !important;
  width: 500px !important;
}
.link {
  text-decoration: none;
  color: #3e445a;
  border: 1px solid black;
  background-color: #e1e2e7;
}
